#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 1px 4px 2px 0;
    background: rgba(255, 255, 255, 0.3); 
  } 
  
  /* .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px; 
  } 
   */
  /* .site-layout-background {
    background: rgb(252, 248, 248); 
    margin:0px;
    background-color: aliceblue; */
    
  
  .logoutbtn{
     
    padding-top: 90px;
    border:10px solid rgb(12, 12, 79);
    color: rgb(12, 12, 79);
  }
  img{
    position:absolute;
    left:100px;
    top:300px;
  }
  .header{
    height:100px;
    color:rgb(235, 200, 26)
  }